* {
  box-sizing: border-box;
  background-color: rgb(201, 201, 201);
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 20px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 20px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #d6e8ef;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  color: rgb(1, 69, 95);
  border-color: rgb(1, 69, 95);
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board {
  font-size: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 25px;
  color: rgb(1, 69, 95);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  margin-top: 15px;
}

.description {
  font-size: 15px;
  color: rgb(1, 69, 95);
  border-color: rgb(1, 69, 95);
  border-right-color: rgb(1, 69, 95);
  margin-top: 10px;
  background-color: #d6e8ef; 
}
